<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<div style="padding: 20px;">
  <h1 style="color: blue; text-align: center;"><u>{{title}}</u></h1>
  <hr>
  <!-- <h3>{{description}}</h3> -->
  <nav>
    <table border="0" align="center" style="margin-top: 20px;" width=600>
      <tr>
        <td style="text-align: center;">
          <a routerLink="customer" class="btn btn-success" role="button" routerLinkActive="active">Customers</a>
        </td>
        <td style="text-align: center;">
          <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
        </td>
        <td style="text-align: center;">
          <a routerLink="findbyage" class="btn btn-primary active" role="button" routerLinkActive="active">Search</a>
        </td>
      </tr>
    </table>
  </nav>
  <router-outlet></router-outlet>
</div>