
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>



<div class="container" style="text-align: center;">
    <h1 style="color:rgb(23, 165, 212);">User HomePages</h1>
   <table align="center" >
    <tr><td><a href="/register"><button class="btn btn-primary">Register Here</button></a></td>
    <td><a href="/search"><button class="btn btn-primary">Search Here </button></a></td></tr>
</table>
<hr>
    
</div>

<router-outlet></router-outlet>

